.article-fading {
  position: relative;
  margin-top: 60px;
}

.article-fading::before {
  content:"";
  display:block;
  position:absolute;
  height: 20px; width: 100%;
  bottom: 0; left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 95%);
}
