.article-wrap__title {
  $title-size: 40px;
  position: absolute;
  margin: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0 10px;
  background: inherit;
  font-size: $title-size;
}
