$icons: (
        star: '\f005',
        star-half: '\f089',
);

.rating__label{
  float: right;
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover{
    color: orange;
  }

  &:before{
    font-family: FontAwesome;
    content: map_get($icons, 'star');
    display: inline-block;
    font-size: 50px;
    line-height: 1;
  }

  &.half:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    overflow: hidden;
  }
}
.rating__label:hover ~ .rating__label, .rating__star:checked ~ .rating__label{
  color: orange;
}
