@import '~select2/src/scss/core';
.select2{
  width: 100%;

  .select2-selection{
    height: 38px;

    .select2-selection__rendered{
      line-height: 1.5;
      color: inherit;
      padding-left: 0;
    }

    .select2-selection__arrow{
      height: 100%;
      width: 30px;
    }
  }
}
.form-control{

  &__dropdown{
    .select2-search__field{
      outline: none;
    }
  }
}
