
.article-fading__text-short {
  $countRow: 3;
  $line-height: 1.5;
  $font-size: 16px;
  font-size: $font-size;
  line-height: $line-height;
  height: 100%;
  max-height: ($line-height * $font-size) * $countRow;
  overflow: hidden;
}
