.navbar__navlink {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: Verdana;
}
@media screen and (max-width: 576px) {
  .navbar__navlink { width: 100%; border-bottom: 1px solid white; }
  .navbar__navlink:last-child {border-bottom: none;}
}
