
.my-row__col {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 33%;
}


@media screen and (max-width: 992px) {
  .my-row__col { width: 50%; }
}
@media screen and (max-width: 576px) {
  .my-row__col { width: 100%; }
}
