.article-wrap {
  $title-size: 40px;
  background: white;
  width: 50vw;
  margin: auto;
  margin-top: $title-size/2;
  border: 2px solid black;
  position: relative;
  padding: ($title-size / 2 + 15px) 30px 30px;
}
