.search__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-style: normal;
  transition: color .5s ease-in-out;
  color: black;
  line-height: 1;
  font-weight: 900;
  font-size: 20px;
}
