.sale__icon {
  width: 130%;
  text-align: center;
  color: #fff;
  background-color: red;
  text-transform: uppercase;
  transform: rotate(45deg);
  position: relative;
  padding: 2px 0;
  left: 2px;
  bottom: -8px;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, .4);
}
