.search__input {
  border: solid 1px #ccc;
  padding: 10px 0;
  padding-left: 20px + 10px * 2;
  font-size: 18px;
  line-height: 1.15;
  border-radius: 10em;
  outline: none;
  width: 10px + 20px;
  transition: all .5s ease-in-out;
  transition-property: width, border-color, padding-right, background-color, color;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  background-color: white;
  color: black;
}

.search__input:focus {
  border-color: #232222;
  width: 200px;
  padding-right: 10px;
  background-color: #232222;
  color: white;
}

.search__input:focus + .search__icon {
  color: white;
}
